a {
	text-decoration: none;
}

h3:hover {
	cursor: pointer;
}

#content {
	max-width: 800px;
}

#obLogo {
	text-align: center;
}

#obLogo img {
	width: 90%;
}

#ph_searchType:hover {
	cursor: pointer;
}

.endfooter a, .endfooter a:visited {
	color: white;
	background-color:	transparent; 
	font-weight: bold;
	margin: 0;
	
}

h3.endfooter {
	text-align: center;
}

#logo_mini {
	width: 30%;
}

p.version_bib {
	font-family: Arial;
	font-size: 1rem; 
	color: #555;
	font-weight: bold;
	
	margin: 0;
	}

/* ---------------------------- */
#menuBtn {display:block; width: 100%;}
.menuSect { display:block; }

#srchRslts .listItem {
	transition: 0.1s;
}

#srchRslts .listItem:hover {
	transform: scale(1.02);
	background-color: white;
}	

/* Desktop scaling (hover on listItem -F.Tumulak 1/27/2026) OPAC */
@media screen and (min-width:800px) {
	/* For Desktops */
	#menuBtn { display:none; }
	.menuSect {display:block; }

	#navSearchMenu {
		text-align: left;
		margin: 0 0 5px 10px;
		a {
			display: block;
			padding: 3px 0;	
		}
	}	
	
}

/* Responsive adjustment for small screens */
@media screen and (max-width: 520px) {
	html { font-size: calc(1.0 * (0.8em + 0.5vw)); }
	#library_name, #aboutlib, a {
		font-size: 1rem; 
	}
  #selectSite {
    width: 98%;      /* Shrinks to occupy 90% of its container */
    max-width: 420px; /* Ensures it never grows larger than intended */
    height: auto;     /* Maintains aspect ratio if it's an image or box */
  }
	div {
		font-size: 12px;
	}


}
