/* Day mode styles */
html { font-size: calc(1.0*(1em + 1vw)); } /* adjust font to size of user's screen */

body {
    color:#000000;
}

/* useful classes that may appear anywhere */
.note { color:gray; }
.error { color:red; }
.warning { color:orange; }
.hiWarning {color:white; background:orange; }
.info { color: green }
.italic { color:lightblue; }

/* headers */
h1,h2,h3,h4,h5,h6 {
	font:1rem sans-serif; text-align:center;
	color:white; background:#bf9f9f;
	width: 100%;
}
.reqd, sup, span.reqd, #reqdNote { color:red; }
span.reqd { font-weight:bold; }
h5#reqdNote { background:#EFDB8A;}

fieldset { border:0; margin:0; padding:0; }
fieldset, legend { background-color:#ffffdd; }

::placeholder, .placeholder { color:#000; }

/* lozenge shape buttons - from "CSS3 for Web Designers", Jeffrey Zeldman " */
/* to revert to normal OS button style, remove this block */
input[type=button], input[type=submit], button, #somebutton {
	padding:2px 4px;
	color:#222; background-color: bisque; border:1px dash black;
	transition: background-color 0.3s;
	}
	
input[type=button]:hover, input[type=submit]:hover, button:hover, #somebutton:hover {
    background-color: #ffa500; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
    border-color: #AAA; /* Change border color on hover */
}	

input:focus { background:rgb(230,255,255); }
input:disabled,
button:disabled { background:#dddddd; color:#888888; }
input[readonly] { background-color:#ffffdd; }

textarea:focus { box-shadow:0 0 12px rgba(51,204,255, 0.5); } /* blue shadow */

ui-datepicker { background:green }

/*************************************************/
aside { color:black; background: bisque; }

#menuBtn { color:white; background:#a0c0c8; }
#menuBtn svg { width:2em; height:2em; border: 1px dashed yellow; }

h1.theHead { color:white; }
#library_name { color:black; }

ul.nav_main > li.nav_selected { border: 10px double bisque; background-color: beige;}
nav a { color:darkblue; }
nav a:visited { color:darkblue; }
nav a.button { font:0.75em serif; /* 12/16 */ color:black; background:#b2dae4; }
nav a.button:visited { color:black; }
li.nav_selected::first-line { background-color: #ddd; font-weight: bold; }
.nav_selected li:hover {background-color: bisque;}


/*************************************************/
#content { background:white; }
#content .altBG { background:#dddddd; }

#tabs ul { background:#90b0b8; }
#tabs li a { border-color:#fff #333 #222 #fff; background:#ccc; color:#333; }
#tabs li a:hover { background:#333; color:#ccc; border-color:#000 #ccc #ccc #000; }
#tabs ul.controls li.active a { color:blue; background-color:#ffffdd; }

.title { font:1.25rem sans-serif; /* 20/16 */ color:white; background:#ccb470; }

#onlineMsg { color:blue; }
.call_media { font:1.0em sans-serif; /* 16/16 */ }
.compact_info_display th.title { font:1.0em serif regular;	/* 16/16 */ }
.compact_info_display th.author { font:1.0em serif regular;	/* 16/16 */ }
.compact_info_display li { font:0.87em serif;	/* 14/16 */ }
.hilite { color:white; background-color:red; }
.search_result .available { font:0.87em serif;	/* 14/16 */ }

/*************************************************/
span.highLite { color:#FF8A00; }

#configDiv ul#existing li { color:black; background:#FFFF99; }
#configDiv ul#potential li { color:black; background:#CCFFFF; }

#skiptocontent a { color:white; }

/* ####################################################### */
/* For Tablets and Desktops */
/* ####################################################### */


tbody.striped tr:nth-child(odd) { background-color:#DED; }
tbody.striped tr:nth-child(even) { background-color:#CDC; }

.opacsearch {
	background-color: bisque;
	text-align: center;
	padding: 15px;
	border: 1px solid green;
}
.opacsearch a:hover {
	color: red;
	padding: 5px;
	border: 1px solid green;
	
}

@media screen and (min-width:800px) {
	/* For Desktops */
		html { font-size: calc(0.5*(1em + 1vw)); }

		h3.theHead { font: bold 1.0em Arial; color:white;}

	#password {
		padding: 3px;
	}

	.theHead, #sidebar, #content {
		transition: background-color 0.3s ease;
	}

}

/* ########################## */

#id_repo {
	background-color: brown;
	color: white;
	font-weight: bold;
	text-align: center;
	margin: 10px 0;
	padding: 10px;
	width: auto;
}
#ttlHits {
	font-weight: bold;
	text-align: center;
	margin: 10px 0;
	padding: 10px;
	width: 100%;
}

.copyright {
	position: relative;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.inlineFldSet2 {
	margin-top: 20px;
	text-align: center;
}

.inlineFldSet2 img {
	border: 3px solid #C11;
	background-color: #ccc;
}

/* ------------------------------- */
/* Base for Phones */
html { font-size: 16px; } 

/* Desktop scaling (hover on listItem -F.Tumulak 1/27/2026) */

	/* For Desktops */
	#menuBtn { display:none; }
	.menuSect {display:block; }

	#navSearchMenu {
		text-align: left;
		margin: 0 0 5px 10px;
		a {
			display: block;
			padding: 3px 0;	
		}
	}	

	#srchRslts .listItem {
		transition: 0.1s;
	}

	#srchRslts .listItem:hover {
		transform: scale(1.02);
		background-color: white;
	}	
	
/* fit the thumbnail into the small slot, for responsive  */
@media screen and (max-width: 1159px) {
    html { font-size: calc(0.5 * (1em + 1vw)); }
		#biblioFoto {
			width: 85px;
			height: auto;
		}
		
	}

/* Responsive adjustment for small screens */
@media screen and (max-width: 799px) {
	html { font-size: calc(1.0 * (0.8em + 0.5vw)); }
	#library_name, #aboutlib {
		font-size: 1rem; 
	}
  #selectSite {
    width: 98%;      /* Shrinks to occupy 90% of its container */
    max-width: 420px; /* Ensures it never grows larger than intended */
    height: auto;     /* Maintains aspect ratio if it's an image or box */
  }

	/* Hide specific elements on mobile */
	#showpass_label
	{
			display: none !important;
	}	
	
	#aboutlib {
		text-align: center;
		}	
		
	#biblioFoto {
		margin-left: 38vw;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100px;
		height: auto;
	}

	.mylibname {
		padding: 5px 0;
		font-size: 16px;
		font-weight: bold;
	}
	
	#accordion h3 {
		padding: 5px 0;
	}

	#libcatalog {
		padding: 5px 0;
	}
	
	#navSearchMenu {
		text-align: left;
		margin-left: 60px;
		a {
			display: block;
			padding: 3px 0;	
		}
		
	}
	
	
}
